.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20% 12%;
    box-sizing: border-box;
    transition: 0.5s
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:gover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}